.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.discordButton,
.youtubeButton,
.githubButton {
  width: 360px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 2rem;
}
